// Variables
// Primary colors
$Moderateblue: hsl(238, 40%, 52%);
$SoftRed: hsl(358, 79%, 66%);
$Lightgrayishblue: hsl(239, 57%, 85%);
$Palered: hsl(357, 100%, 86%);

// Neutral colors
$Darkblue: hsl(212, 24%, 26%);
$GrayishBlue: hsl(211, 10%, 45%);
$Lightgray: hsl(223, 19%, 93%);
$Verylightgray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);

// Globals
body {
  font-family: "Rubik", sans-serif;
  background-color: $Lightgray;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: 700px;

  & > * {
    padding: 0px 10px;
    width: 100%;
  }
}

.comment,
.write-comment,
.reply {
  background-color: $White;
}

button {
  font-family: "Rubik", sans-serif;
}

.username {
  color: $Darkblue;
  font-weight: 500;
}

.active-since {
  color: $GrayishBlue;
}

img {
  width: 40px;
}

hr {
  border: 1px solid $Lightgrayishblue;
  margin: 0px 10px;
  border-radius: 25px;

  @media (min-width: 647px) {
    margin: 0px 40px;
  }
}

// Login section
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Comment card
.comment {
  display: flex;
  padding: 15px 5px;
  align-items: baseline;
  border-radius: 6px;
  margin: 10px 0px;

  @media (min-width: 647px) {
    padding: 15px 30px;
  }

  &-likes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $Verylightgray;
    border-radius: 10px;
    height: 120px;
    flex-basis: 8%;

    & p {
      margin: 0px;
      color: $Moderateblue;
      font-weight: 500;
    }

    button {
      background-color: transparent;
      border: none;
      font-size: 1rem;
      color: $Lightgrayishblue;

      &:hover {
        color: $Moderateblue;
        cursor: pointer;
      }
    }

    &-desktop {
      @media (max-width: 647px) {
        display: none;
      }
    }

    &-mobile {
      flex-direction: row;
      height: 40px;
      padding: 10px;
      gap: 10px;
    }
  }

  &-contents {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-basis: 90%;

    &-details {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & div {
        display: flex;
        align-items: center;
        gap: 18px;
      }

      & button:hover {
        cursor: pointer;
        color: $Lightgrayishblue;
      }
    }

    &-message {
      color: $GrayishBlue;
      line-height: 1.5;

      & p {
        margin-top: 6px;
      }
    }
  }
}

// Reply card
.reply,
.write-comment {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 15px 15px;
  border-radius: 6px;
  width: 100%;

  @media (min-width: 647px) {
    padding: 25px 30px;
  }

  @media (max-width: 647px) {
    flex-direction: column;
    align-items: flex-end;

    & textarea {
      width: 100%;
    }
  }

  & textarea {
    flex-grow: 1;
    font-size: 1.01rem;
    padding: 10px 20px;
    border-radius: 10px;
    resize: none;
    font-family: "Rubik", sans-serif;

    &:focus-visible {
      border: 1px solid $Moderateblue;
      outline: none;
    }

    &:hover {
      border: 1px solid $Moderateblue;
    }
  }

  &-spacing {
    display: flex;
  }
}

// Write comment card
.write-comment {
  margin-top: 50px;
}

// Icons
.icon-spacing {
  margin-right: 8px;
}

.btn-with-icon {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

// Mobile specific
.card-btns-mobile {
  display: none;
  @media (max-width: 647px) {
    display: flex;
    justify-content: space-between;
  }
}

// Buttons
.reply-btn {
  background-color: transparent;
  border: none;
  color: $Moderateblue;
  font-weight: 500;

  &-desktop {
    @media (max-width: 647px) {
      display: none;
    }
  }
}

.cta {
  background-color: $Moderateblue;
  width: 105px;
  height: 40px;
  font-size: 1.1rem;
  border: none;
  color: $White;
  border-radius: 6px;
  transition: 0.1s;

  &:hover {
    background-color: $Lightgrayishblue;
    cursor: pointer;
    transition: 0.1s;
  }
}
